@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&family=Josefin+Sans:wght@300;400;600&display=swap');

    /* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Fira Sans;
  color: black;
}
nav {
  background: #f9f9fa;
  color: black;
  padding: 15px;
  padding-bottom: 18px;
}
nav ul {
  list-style-type: none;
}
nav a {
  color: black;
  text-decoration: none;
}
nav a:hover {
  text-decoration: none;
}
.logo a:hover {
  font-size: 20px;
  text-decoration: none;
}
.menu li {
  font-size: 20px;
  padding: 15px 5px;
  white-space: nowrap;
  cursor: pointer;
}
.logo a,
.toggle a {
  font-size: 20px;
  font-weight: 500;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
  padding-left: 120px;
  padding-right: 120px;
  height: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor:pointer;
}
.bars {
  background: black;
  display: inline-block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 28px;
}
.bars:before,
.bars:after {
  background: black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 10px;
}
.bars:after {
  top: -10px;
}
.menu .fir {
  width: 253px;
  height: 50px;
  object-fit: cover;
}
.fir {
  display: none;
}
.social{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
.item1 {
  padding: 15px 50px 15px 10px;
  background-color: #db4437;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  margin: 20px;
  height: 48px;
}
.item2 {
  padding: 12px 30px 12px 5px;
  background-color: #4267b2;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  margin: 25px;
  height: 48px;
}
.item1  span {
  padding: 0 10px;
}
.item2  span {
  padding: 0 15px;
  font-size: 20px;
}
/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
      justify-content: left;
  }

  .logo {
      flex: 1;
  }

  .toggle {
      order: 1;
  }
  .button.secondary {
      border: 0;
  }
  .button a {
      padding: 12px 45px;
      border: 1px #2493df solid;
      border-radius:4px;
      color: #2493df;
  }
  .primary{
    padding: 15px 105px;
    font-size: 16px;
  }
  .button.secondary a {
      background: transparent;    
  }
  .button a:hover {
      text-decoration: none;
      transition:all .25s;
  }
  .button.secondary a {
      color: white;
      background-color: #2493df;
  }
}

/* Desktop menu */
@media all and (min-width: 1190px) {
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;

  }
  .item {
      order: 1;
  }
  .sec{
     display: none;
   }

   .fir{
     display: block;
     width: 32px;
     height: 32px;
   }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 20px;
  }
  .menu li.button {
      padding-right: 0;
  }
}

