.body {
  font-family: sans-serif;
  background-color: #1f1e28;
  color: white;
  padding-left: 252px;
  padding-right: 252px;
  font-family: "Fira Sans", sans-serif;
}
.Navbar nav {
  background: #1f1e28;
  padding: 15px;
  padding-bottom: 150px;
}
.logo img{
  width: 247px;
  height: 48px;
}
.Navbar ul {
  list-style-type: none;
}
.Navbar a {
  color: #c8d2db;
  text-decoration: none;
}
.Navbar a:hover {
  text-decoration: none;
}
.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 20px;
  padding: 15px 5px;
  font-family: "Fira Sans", sans-serif;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
}
.Navbar section p {
  font-size: 24px;
  line-height: 1.5;

}
.Navbar section span { font-size: 24px; }
.logo a,
.toggle a {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}
.header__hr{
  padding-top: 40px;
  display: flex;
  width: 400px;
  padding-bottom: 20px;
  margin: 0;
}
.header__hr_2{
  width: 50px;
  line-height: 0.1%;
}
.header__hr::before{
  content: "";
  width: calc(50% - 34px);
    height: 1px;
    background-color: #c8d2db;
}

.header__hr:after{
  content: "";
  width: calc(50% - 32px);
    height: 1px;
    background-color: #c8d2db;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #1f1e28;
  z-index: 1;
  padding-left: 152px;
  padding-right: 152px;
  height: 92px;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor:pointer;
}
.bars {
  background: white;
  display: inline-block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 28px;
}

.bars:before,
.bars:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 10px;
}
.bars:after {
  top: -10px;
}
.menu .fir {
  width: 253px;
  height: 50px;
  object-fit: cover;
}
.fir {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 500px;
    padding-bottom: 100px;
  text-align: center;
  overflow: hidden;
}
.title{
display: flex;
flex-direction: row;
}
.Navbar h1 {
  font-size: 70px;
  text-align: center;
  align-self: center;
  font-family: "Fira Sans", sans-serif;
}
.title img {
  width: 170px;
  height: 170px;
}
.Navbar p {
  font-size: 26px;
 text-align: center;
 padding: 20px 0px;
 max-width: 43%;
  color: #c8d2db;
  font-family: "Fira Sans", sans-serif;
}
.Navbar p > span {
  font-weight: 700;
  color: white;
}
.primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 110px;
  border-radius: 4px;
  background-color:#2493df;
  outline: none;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  height: 48px;
}
.social{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.item1 {
  padding: 15px 50px 15px 10px;
  background-color: #db4437;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  margin: 20px;
  height: 48px;
}
.item2 {
  padding: 12px 30px 12px 5px;
  background-color: #4267b2;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  margin: 25px;
  height: 48px;
}
.item1  span {
  padding: 0 10px;
}
.item2  span {
  padding: 0 15px;
  font-size: 20px;
}
/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
      justify-content: left;
  }

  .logo {
      flex: 1;
  }

  .toggle {
      order: 1;
  }
  .button.secondary {
      border: 0;
  }
  .button a {
      padding: 12px 45px;
      border: 1px #2493df solid;
      border-radius:4px;
      color: white;
      font-family: "Fira Sans", sans-serif;
  }
  .primary{
    padding: 15px 105px;
    font-size: 16px;
  }
  .button.secondary a {
      background: transparent;    
  }
  .button a:hover {
      text-decoration: none;
      transition:all .25s;
  }
  .button.secondary a {
      background-color: #2493df;
  }
  .button.secondary a:hover {
      color: #ddd;
  } 
}

/* Desktop menu */
@media all and (min-width: 1190px) {
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;

  }
  .item {
      order: 1;
  }
  .sec{
     display: none;
   }

   .fir{
     display: block;
     width: 32px;
     height: 32px;
   }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 20px;
  }
  .menu li.button {
      padding-right: 0;
  }
}
button a.logout{
  font-size: 16px;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #ff085a #000 #ff085a;
  border-radius: 6px;
  background: #f20056;
  transition: 0.2s;
}
